<h2>Eventos</h2>
<hr>

<!-- Imprimir Db Angular estatica
<p><b>Tema1:</b> {{eventos[0].Tema}}</p>
<p><b>Local1:</b> {{eventos[0].Local}}</p>
-->

<!-- Primeira diretiva estrutural - Ngfor (bind e interpolação)
<div *ngFor="let evento of eventos"> ngfor uma diretiva. evento e eventos são binds
  <hr>
  <p><b>Tema:</b> {{evento.tema}}</p> //é uma interpolação
  <p><b>Local:</b> {{evento.local}}</p>

</div>
-->


<div class="row mb-3">
  <div class="col-auto">
    <label class="mt-1">Pesquisar:</label>
  </div>
  <div class="col-auto">
    <input type="text"
      class="form-control col-2"
      placeholder="Pesquisar"
      [(ngModel)]="filtroLista">
  </div>
</div>


<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" type="button"
        (click)="alterarEstadoImg()">
          {{exibirImg ? 'Ocultar' : 'Exibir'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
          <img [collapse]="!exibirImg" [isAnimated]="true"
          src="assets/{{evento.imagemURL}}"
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg" alt="">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mx-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Exluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colSpan="8" class="text-center">
        <h5 class="mt-3">Nenhum evento encontrado!</h5>
      </td>
    </tr>
  </tfoot>
</table>


<!--
Nota:

Diretivas estruturais
*ngif
*ngFor
...

Binding e Interpolações
{{eventos[0].imagemURL}}
{{eventos[0].imagemURL +1}} concatenação

{{eventos | json}} mostra a lista toda
{{eventos[0] | json}} mostra o primeiro da lista


-->
