
<div class="d-flex align-items-center vh-100">

	<div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

		<form class="form-signin">
			<i class="fa fa-users mb-2"></i>
			<h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
			<label for="username" class="sr-only">Utilizador</label>
			<input type="email" id="username" class="form-control" placeholder="Utilizador" name="username" required>
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" class="form-control mt-2" placeholder="Password" name="password" required>
			<button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Entrar</button>
			<div class="mt-5">
        <a class=" btn btn-link text-dark" routerLink="/user/registration">Não tem uma conta? Registe-se!</a>
      </div>

		</form>

	</div>
</div>

